In [73]:
import pandas as pd

df=pd.read_csv("../YSE_finder/Shane_2023-01-30_last.txt",sep="\s+")
df.columns = ['name', 'ra_h', 'ra_m', 'ra_s', 'dec_d', 'dec_m',
       'dec_s', 'equinox', 'mag','pr','{comment', '*}']

In [88]:
df2=df.sort_values(by='ra_h')
df2.to_csv("test.txt",sep=" ", index=False)
output = df2.to_string(formatters={
    'ra_h': '{:0>2}'.format,
    'ra_m': '{:0>2}'.format,
    'ra_s': '{:05.2f}'.format,
    'dec_d': '{:02.0f}'.format,
    'dec_m': '{:0>2}'.format,
    'dec_s': '{:05.2f}'.format,
}, index=False)
print(output)

    name ra_h ra_m  ra_s dec_d dec_m dec_s  equinox mag pr  {comment  *}
 2023axy   00   40 35.85    30    33 15.60     2000 mag  =     18.07   1
  2023dk   05   11 06.32    -1    04 49.09     2000 mag  =     18.82   1
  2023qb   08   16 05.44    55    48 22.84     2000 mag  =     15.65   1
  2023qb   08   16 05.44    55    48 22.84     2000 mag  =     15.65   1
  2023jo   08   07 24.79    39    11 37.58     2000 mag  =     17.41   1
2022aagp   09   10 41.91    07    12 20.44     2000 mag  =     16.06   1
  2023nj   09   32 49.14    -5    32 09.94     2000 mag  =     16.49   1
  2023jb   10   26 11.50    18    30 43.21     2000 mag  =     17.69   1
2022acsh   10   37 03.81    43    38 52.75     2000 mag  =     17.63   1
 2022xxf   11   30 05.93    09    16 57.28     2000 mag  =     16.17   1
 2022pru   11   59 07.65    52    41 58.49     2000 mag  =     17.93   1
  2023ip   11   44 01.35    30    02 41.76     2000 mag  =     16.67   1
 2022zut   11   40 58.82    11    28 10.90     2000 mag  =     16.80   1
  2023wl   11   15 47.88    00    51 08.81     2000 mag  =     17.60   1
  2023wl   11   15 47.88    00    51 08.81     2000 mag  =     17.60   1
 2022pul   12   26 48.85    08    26 55.34     2000 mag  =     16.32   1
  2023ke   12   58 18.23    29    07 43.43     2000 mag  =     14.90   1
  2023wn   13   36 04.58    -1    35 39.75     2000 mag  =     17.56   1
 2023aez   14   40 16.05    10    23 51.31     2000 mag  =     17.72   1
 2023awp   15   30 01.54    12    59 15.15     2000 mag  =     18.78   1
 2023aiw   16   31 09.06    39    47 20.62     2000 mag  =     16.95   1
  2023uu   23   02 03.08    27    03 03.18     2000 mag  =     17.45   1

In [27]:
df2

,name,ra_h,ra_m,ra_s,dec_d,dec_m,dec_s,equinox,mag,pr,{comment,*}
11,2023axy,0,40,35.85,30,33,15.60,2000,mag,=,18.13,2
12,2023ayn,2,28,32.69,36,56,30.92,2000,mag,=,19.06,2
20,2022acyf,4,40,5.75,74,10,54.93,2000,mag,=,16.09,1
7,2023afb,5,49,17.30,60,40,8.04,2000,mag,=,17.93,1
14,2022aajn,7,8,15.56,21,4,21.37,2000,mag,=,20.82,1
18,2023iy,7,58,3.73,56,26,23.56,2000,mag,=,14.90,1
13,2022zsn,8,38,52.68,43,29,42.52,2000,mag,=,19.54,1
17,2023jo,8,7,24.79,39,11,37.58,2000,mag,=,17.41,1
6,2023qb,8,16,5.44,55,48,22.84,2000,mag,=,15.65,1
10,2023qb,8,16,5.44,55,48,22.84,2000,mag,=,15.65,1
4,2023jb,10,26,11.50,18,30,43.21,2000,mag,=,17.69,1
15,2022acsh,10,37,3.81,43,38,52.75,2000,mag,=,17.63,1
19,2023bbp,11,31,9.09,22,46,15.94,2000,mag,=,19.99,1
21,2022xxf,11,30,5.93,9,16,57.28,2000,mag,=,16.17,1
1,2022zut,11,40,58.82,11,28,10.90,2000,mag,=,16.80,1
3,2023ip,11,44,1.35,30,2,41.76,2000,mag,=,16.67,1
16,2022pru,11,59,7.65,52,41,58.49,2000,mag,=,17.93,1
0,2022zxr,12,55,6.37,58,47,11.52,2000,mag,=,16.86,1
5,2023ke,12,58,18.23,29,7,43.43,2000,mag,=,14.90,1
2,2022pul,12,26,48.85,8,26,55.34,2000,mag,=,16.32,1
8,2023aez,14,40,16.05,10,23,51.31,2000,mag,=,17.72,1
22,2023avk,14,40,41.47,13,28,43.93,2000,mag,=,19.97,1
23,2023awp,15,30,1.54,12,59,15.15,2000,mag,=,18.78,2
24,2023bak,15,48,25.62,19,29,27.83,2000,mag,=,20.20,2
25,2023aiw,16,31,9.06,39,47,20.62,2000,mag,=,16.95,1
9,2023uu,23,2,3.08,27,3,3.18,2000,mag,=,17.45,1